.container {
  width: 100%;
  top: 0;
  background-color: #f4f4f4;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 1.5rem 0;
  font-size: 0.9rem;
  padding-top: 5rem;

  > h1 {
    text-align: center;
    color: #231f20;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  > div {
    max-width: 1024px;
    margin: auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 2rem;
    margin-bottom: 5rem;
  }
}
