.container {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 10;
  background-color: darken(#44a347, $amount: 15);

  .logo {
    background-color: #fff;
    padding: 0.75rem;
    border-radius: 50%;
    border: 0.2rem solid darken(#44a347, $amount: 15);
    transform: translateY(2rem);

    img {
      transform: translateY(3px);
    }
  }

  button,
  a {
    display: block;
    padding: 0.5rem 1rem;
    background-color: darken(#44a347, $amount: 15);
    border: 1px solid transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 0px 7px #231f2050, -3px 0px 7px #231f2050,
      0px 4px 7px #231f2050;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #44a347;
    }
  }

  .main_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1024px;
    height: 5rem;
    margin: auto;
    padding: 0 2rem;
  }

  .mobile_nav {
    display: none;
  }

  .dropdown {
    position: relative;

    ul {
      position: absolute;
      border: 1px solid #fff;
      display: grid;
      right: 0;
      bottom: 0rem;
      transform: translateY(100%);
      animation: fade-in 0.2s ease-in-out;

      a {
        border-bottom: 1px solid #fff;
      }
    }
  }

  @media (max-width: 992px) {
    .desktop_nav {
      display: none;
    }

    .mobile_nav {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 5rem;
      padding: 0 2rem;

      svg {
        fill: #fff;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
      }

      .mobile_list {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(5rem);
        text-align: center;
        > *:first-child {
          border-top: 1px solid #fff;
        }
        li {
          border-bottom: 1px solid #fff;
          button,
          a {
            padding: 1rem;
          }
        }
        .dropdown {
          ul {
            width: 100%;
          }
        }
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
