.container {
  background-color: darken(#ffffff, 10);
  padding: 2rem;
  color: #231f20;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  main {
    max-width: 1024px;
    margin: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }

    .table {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      span {
        font-weight: normal;
      }

      p {
        font-size: 1.5rem;
        font-weight: normal;
      }
    }

    .main_image {
      position: relative;

      img {
        border: 2px solid darken(#ffffff, 100) !important;
        background-color: #fff;
      }

      h1 {
        text-align: center;
      }

      p {
        font-weight: normal;
      }

      .sold_tag {
        position: absolute;
        top: 0;
        transform: translate(-15%, -25%);
        z-index: 1;
        width: 150px;

        img {
          border: 0 !important;
          background-color: transparent;
        }
      }
    }
  }

  .pictures_list {
    max-width: 1024px;
    margin: auto;
    margin-top: 4rem;
    width: 100%;

    display: flex;
    gap: 1rem;

    > div {
      width: 100%;
      height: auto;

      img {
        border: 2px solid darken(#ffffff, 100) !important;
        background-color: #fff;
      }
    }
  }

  .modal_buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
    svg {
      cursor: pointer;
      height: 2rem;
      width: 2rem;
    }
  }
}
