.container {
  width: 100%;
  top: 0;
  background-color: #f4f4f4;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 1.5rem 2rem;
  font-size: 0.9rem;
  padding-top: 5rem;

  > h1 {
    text-align: center;
    color: #231f20;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  .header,
  .list {
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .header {
    margin-bottom: 0;
    background-color: darken(#44a347, $amount: 15);
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 100px 6fr 2fr 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    position: relative;
  }
}
