.card {
  background-color: darken(#ffffff, 0);
  color: #231f20;
  display: grid;
  grid-template-columns: 100px 6fr 2fr 1fr;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  position: relative;

  &:nth-child(even) {
    background-color: darken(#ffffff, 5);
  }

  .image_container {
    width: 100px;
    flex-shrink: 0;
    position: relative;
  }

  .sold_tag {
    top: 0;
    position: absolute;
    z-index: 1;
    width: 50px;
    img {
      border: 0 !important;
      background-color: transparent;
    }
  }

  img {
    border: 2px solid darken(#ffffff, 100) !important;
    background-color: #fff;
  }

  h1 {
    font-size: 1.75rem;
    text-transform: uppercase;
    width: max-content;

    &.name:hover {
      text-decoration: underline;
    }
  }

  p {
    font-weight: normal;
  }
}
